*{
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  padding: 25px 15px;
  border-bottom: 2px solid #1c9cd4;
  background-color: white;
}

#mainarea{
  padding: 0 40px;
}

.foto img{
  width: 100%;
  height: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#name h1 {
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  margin-bottom: -6px;
}

#name h2{
  font-size: 2em;
  margin-left: 2px;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

body {
  background-image: url(background_css.png);
}
footer {
  width: 100%;
  background-color: grey;
  float: none;
}

h2{
  color:blue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
